.tourmaster-room-invoice-logo {
    width: 250px;
    margin-bottom: 35px
}

.tourmaster-room-single-header-title-wrap {
    padding-top: 240px
}

.tourmaster-room-single-header-title-wrap {
    padding-bottom: 140px
}

body .tourmaster-room-single-header-title-wrap h1 {
    font-size: 76px
}

body .tourmaster-room-single-header-title-wrap h1 {
    font-style: normal
}

body .tourmaster-room-single-header-title-wrap h1 {
    text-transform: none
}

body .tourmaster-room-single-header-title-wrap h1,body .tourmaster-room-single-header-title-wrap .tourmaster-page-caption {
    text-align: center
}
